# Server
PORT=5000
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_URL=postgresql://postgres:eKjRCAkcSQBuZrqu@db.afeahcvmnnvywtpkhhjw.supabase.co:5432/postgres

# JWT
JWT_SECRET=2e8077350fc45f7e6e3d3a5d037dd6c193857060005ae50e4a00ba61cce70e92
JWT_EXPIRES_IN=7d

# Frontend URL
FRONTEND_URL=https://greenhybridpower.in

# Cloudinary (File Upload)
CLOUDINARY_CLOUD_NAME=dttvs4q4m
CLOUDINARY_API_KEY=775116824822456
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_UPLOAD_PRESET=greenhybrid_preset

# Admin Credentials (for seeding)
ADMIN_EMAIL=admin@greenhybridpower.in
ADMIN_PASSWORD=Admin@123